<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.intermediasolutions.shrinkappd"
	version 	= "1.5">

	<name>ShrinkAppd</name>

	<description>
	ShrinkAppd
	http://www.intermediasolutions.com
	@IntermediaSolutions
	</description>

	<author href="http://www.intermediasolutions.com"
		email="nikki@intermediasolutions.com">
		Nikki
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
<!--		<gap:platform name="blackberry" project="widgets"/>-->
	</gap:platforms>

	<!-- if a single splash screen is specified the build will use it for 
	all builds.  -->
    <gap:splash src="splash/ios/Default.png" width="320" height="480" />
    <gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
    <gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />		
    <gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />


	
	<!-- the following is useful for Build when you have many icons; this way
	    Blackberry will use the correct icon --> 
	    <icon src="icons/icon.png" default="true" />
	    <icon src="icons/icon-hover.png" hover="true" />
	
	<!-- iOS requires specific dimensions for splash screens; classic iPhone screens, Retina 
	      Screens, and iPad screen respectively -->
	 <!--   <icon src="icons/icon-iphone-57.png" width="57" height="57"/> 
	    <icon src="icons/icon-iphone-72.png" width="72" height="72"/> 
	    <icon src="icons/icon-iphone-114.png" width="114" height="114"/>
	    -->
	    <icon src="icons/icon-iphone-57.png" gap:platform="ios" width="57" height="57" />
	    <icon src="icons/icon-iphone-72.png" gap:platform="ios" width="72" height="72" />
	    <icon src="icons/icon-iphone-114.png" gap:platform="ios" width="114" height="114" />
	     
	
	<!-- Android requires specific dimensions; ldpi, mdpi, and hdpi respecitvely. --> 
	    <!--<icon src="icons/icon-android-36.png" width="36" height="36"/> 
	    <icon src="icons/icon-android-48.png" width="48" height="48"/> 
	    <icon src="icons/icon-android-72.png" width="72" height="72"/> -->
	    
	    <icon src="icons/icon-android-36.png" gap:platform="android" gap:density="ldpi" />
	    <icon src="icons/icon-android-48.png" gap:platform="android" gap:density="mdpi" />
	    <icon src="icons/icon-android-72.png" gap:platform="android" gap:density="hdpi" />

	
	<!-- to enable single features use the following examples -->
	  <!--   <feature name="http://api.phonegap.com/1.0/camera"/> -->
	   <!--  <feature name="http://api.phonegap.com/1.0/file"/> -->
	    <!--<feature name="http://api.phonegap.com/1.0/media"/> -->
	    <feature name="http://api.phonegap.com/1.0/network"/>
	    <feature name="http://plugins.phonegap.com/ChildBrowser/3.0.4" />    
	    <access origin="http://intermediasolutions.com" subdomains="true" />
	    <access origin="http://www.intermediasolutions.com" subdomains="true" />
	    <access origin="http://apps.intermediasolutions.com" subdomains="true" />
	    <preference name="orientation" value="portrait"/>
	    <preference name="prerendered-icon" value="true" />
	    <preference name="useBrowserHistory" value="true" />
	    <preference name="phonegap-version" value="2.1.0" />

</widget>
